In [42]:
import pandas as pd

In [43]:
dados2017acd=pd.read_excel('/content/drive/My Drive/Treinamentos/Python/Projetos/Despesas Passagens PROPLAD/Datasets/dados2017_acd.xlsx')
dados2017adm=pd.read_excel('/content/drive/My Drive/Treinamentos/Python/Projetos/Despesas Passagens PROPLAD/Datasets/dados2017_adm.xlsx')
dados2018=pd.read_excel('/content/drive/My Drive/Treinamentos/Python/Projetos/Despesas Passagens PROPLAD/Datasets/dados2018.xlsx')
dados2019=pd.read_excel('/content/drive/My Drive/Treinamentos/Python/Projetos/Despesas Passagens PROPLAD/Datasets/dados2019.xlsx')

In [44]:
dados2017acd.columns=['Orgao_Solicitante', 'Nome_viajante', 'Numero_PCDP','Data_Solicitacao', 'Data_Inicio', 'Vr_Diaria','Vr_Passagem', 'Vr_Viagem']
dados2017adm.columns=['Orgao_Solicitante', 'Nome_viajante', 'Numero_PCDP','Data_Solicitacao', 'Data_Inicio', 'Vr_Diaria','Vr_Passagem', 'Vr_Viagem']
dados2018.columns=['Orgao_Solicitante', 'Nome_viajante', 'Numero_PCDP','Data_Solicitacao', 'Data_Inicio', 'Vr_Diaria','Vr_Passagem', 'Vr_Viagem']
dados2019.columns=['Orgao_Solicitante', 'Nome_viajante', 'Numero_PCDP','Data_Solicitacao', 'Data_Inicio', 'Vr_Diaria','Vr_Passagem', 'Vr_Viagem']

In [45]:
dados2017acd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  424 non-null    object
 1   Nome_viajante      424 non-null    object
 2   Numero_PCDP        424 non-null    object
 3   Data_Solicitacao   424 non-null    datetime64[ns]
 4   Data_Inicio        424 non-null    datetime64[ns]
 5   Vr_Diaria          424 non-null    float64
 6   Vr_Passagem        424 non-null    float64
 7   Vr_Viagem          424 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 26.6+ KB

In [46]:
dados2017acd.head()

                         Orgao_Solicitante  ... Vr_Viagem
0  Centro de Educacao Aberta e a Dist?ncia  ...    283.11
1  Centro de Educacao Aberta e a Dist?ncia  ...    360.50
2  Centro de Educacao Aberta e a Dist?ncia  ...    389.37
3  Centro de Educacao Aberta e a Dist?ncia  ...    274.11
4  Centro de Educacao Aberta e a Dist?ncia  ...    394.98

[5 rows x 8 columns]

In [47]:
dados2017acd.Orgao_Solicitante.value_counts()

Centro de Educacao Aberta e a Dist?ncia                                130
Instituto de Ciencias Exatas e Aplicadas Joao Monlevade                 64
Escola de Medicina                                                      44
Departamento de Nutricao Clinica e Social                               39
Departamento de Geologia                                                35
Instituto de Ciencias Exatas e Aplicadas                                21
Departamento de Alimentos                                               15
Departamento de Engenharia de Minas                                     11
Departamento de Engenharia Civil                                        10
Instituto de Filosofia, Artes e Cultura                                  7
Departamento de Computacao                                               4
Departamento de Farm˜cia                                                 4
Departamento de Quimica                                                  4
Instituto de Ciencias Humanas e Sociais                                  4
Departamento de  Engenharia, Arquitetura e Urbanismo                     3
Departamento de Biodiversidade                                           3
Departamento de Turismo                                                  3
Instituto de Ciencias Sociais Mariana - Campus II                        2
Departamento de Engenharia de Controle e Automacao e e Fundamentais      2
Departamento de Educacao                                                 2
Departamento de Historia                                                 2
Departamento de Ciencias Biologicas                                      2
Departamento de Engenharia de Producao, Administracao e Economia         2
Departamento de Direito                                                  2
Departamento de Engenharia Metal?rgica e de Materiais                    2
Departamento de Engenharia Ambiental                                     2
Departamento de Filosofia                                                1
Departamento de Matem˜tica                                               1
Departamento de Letras                                                   1
Departamento de Matematica                                               1
Departamento de Museologia                                               1
Name: Orgao_Solicitante, dtype: int64

Transforma textos em Title

In [48]:
for i in range(0,len(dados2017acd)):
  dados2017acd.Nome_viajante[i]=dados2017acd.Nome_viajante[i].upper()
  dados2017acd.Orgao_Solicitante[i]=dados2017acd.Orgao_Solicitante[i].upper()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Corrige encoding e acentuações

In [49]:
dados2017acd.Orgao_Solicitante.value_counts()

CENTRO DE EDUCACAO ABERTA E A DIST?NCIA                                130
INSTITUTO DE CIENCIAS EXATAS E APLICADAS JOAO MONLEVADE                 64
ESCOLA DE MEDICINA                                                      44
DEPARTAMENTO DE NUTRICAO CLINICA E SOCIAL                               39
DEPARTAMENTO DE GEOLOGIA                                                35
INSTITUTO DE CIENCIAS EXATAS E APLICADAS                                21
DEPARTAMENTO DE ALIMENTOS                                               15
DEPARTAMENTO DE ENGENHARIA DE MINAS                                     11
DEPARTAMENTO DE ENGENHARIA CIVIL                                        10
INSTITUTO DE FILOSOFIA, ARTES E CULTURA                                  7
DEPARTAMENTO DE QUIMICA                                                  4
DEPARTAMENTO DE FARM˜CIA                                                 4
DEPARTAMENTO DE COMPUTACAO                                               4
INSTITUTO DE CIENCIAS HUMANAS E SOCIAIS                                  4
DEPARTAMENTO DE BIODIVERSIDADE                                           3
DEPARTAMENTO DE  ENGENHARIA, ARQUITETURA E URBANISMO                     3
DEPARTAMENTO DE TURISMO                                                  3
DEPARTAMENTO DE EDUCACAO                                                 2
DEPARTAMENTO DE ENGENHARIA AMBIENTAL                                     2
INSTITUTO DE CIENCIAS SOCIAIS MARIANA - CAMPUS II                        2
DEPARTAMENTO DE HISTORIA                                                 2
DEPARTAMENTO DE CIENCIAS BIOLOGICAS                                      2
DEPARTAMENTO DE ENGENHARIA DE CONTROLE E AUTOMACAO E E FUNDAMENTAIS      2
DEPARTAMENTO DE ENGENHARIA DE PRODUCAO, ADMINISTRACAO E ECONOMIA         2
DEPARTAMENTO DE DIREITO                                                  2
DEPARTAMENTO DE ENGENHARIA METAL?RGICA E DE MATERIAIS                    2
DEPARTAMENTO DE LETRAS                                                   1
DEPARTAMENTO DE MATEM˜TICA                                               1
DEPARTAMENTO DE FILOSOFIA                                                1
DEPARTAMENTO DE MUSEOLOGIA                                               1
DEPARTAMENTO DE MATEMATICA                                               1
Name: Orgao_Solicitante, dtype: int64

# **ATENÇÃO: TESTE RÁPIDO**

In [50]:
dados2017acd.iloc[16,0]

'CENTRO DE EDUCACAO ABERTA E A DIST?NCIA'

In [51]:
dados2017acd.iloc[5,0].split()

['CENTRO', 'DE', 'EDUCACAO', 'ABERTA', 'E', 'A', 'DIST?NCIA']

In [52]:
dados2017acd.reset_index(drop=True, inplace=True)

In [53]:
# Alterar:
# EDUCACAO, DIST?NCIA, CIENCIAS, JOAO, NUTRICAO, CLINICA, CIENCIAS, COMPUTACAO, QUIMICA, CIENCIAS
# FARM˜CIA, DEPARTAMENTO DE ENGENHARIA DE CONTROLE E AUTOMACAO E E FUNDAMENTAIS, INSTITUTO DE CIENCIAS SOCIAIS MARIANA - CAMPUS II,
# METAL?RGICA, HISTORIA, PRODUCAO,ADMINISTRACAO, MATEM˜TICA, MATEMATICA
# Tentar com uma lista
# LÓGICA: SE alguma das palavras que está no dado "dados2017acd.Orgao_Solicitante" na posição "i" se encontram em alguma destas palavras... 
# ...da lista "corrige" ENTÃO substitui-se a palavra que está em  "dados2017acd.Orgao_Solicitante" na posição "i" pela que está em "corrige"
# Resumindo, compara-se duas listas e vê se termos de uma se encontram em termos d
# tira '?' de metalúrgica e distância - fatiar strings
for i in range(0,len(dados2017acd)):
  if dados2017acd.Orgao_Solicitante[i] == 'CENTRO DE EDUCACAO ABERTA E A DIST?NCIA':
    dados2017acd.Orgao_Solicitante[i]=dados2017acd.Orgao_Solicitante[i].replace('?','Â')
  if dados2017acd.Orgao_Solicitante[i] == 'DEPARTAMENTO DE ENGENHARIA METAL?RGICA E DE MATERIAIS':
    dados2017acd.Orgao_Solicitante[i]=dados2017acd.Orgao_Solicitante[i].replace('?','Ú')
  if dados2017acd.Orgao_Solicitante[i]== 'DEPARTAMENTO DE ENGENHARIA DE CONTROLE E AUTOMACAO E E FUNDAMENTAIS':
    dados2017acd.Orgao_Solicitante[i]='DEPARTAMENTO DE ENGENHARIA DE CONTROLE E AUTOMAÇÃO'

dados2017acd.Orgao_Solicitante.replace({'EDUCACAO':'EDUCAÇÃO','CIENCIAS':'CIÊNCIAS','JOAO':'JOÃO','NUTRICAO':'NUTRIÇÃO','CLINICA':'CLÍNICA','CIENCIAS':'CIÊNCIAS',
                      'COMPUTACAO':'COMPUTAÇÃO','QUIMICA':'QUÍMICA','FARM˜CIA':'FARMÁCIA','HISTORIA':'HISTÓRIA','PRODUCAO':'PRODUÇÃO',
                      'ADMINISTRACAO':'ADMINISTRAÇÃO','MATEM˜TICA':'MATEMÁTICA','MATEMATICA':'MATEMÁTICA'}, regex=True, inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
dados2017acd.Orgao_Solicitante.value_counts()

CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA                             130
INSTITUTO DE CIÊNCIAS EXATAS E APLICADAS JOÃO MONLEVADE              64
ESCOLA DE MEDICINA                                                   44
DEPARTAMENTO DE NUTRIÇÃO CLÍNICA E SOCIAL                            39
DEPARTAMENTO DE GEOLOGIA                                             35
INSTITUTO DE CIÊNCIAS EXATAS E APLICADAS                             21
DEPARTAMENTO DE ALIMENTOS                                            15
DEPARTAMENTO DE ENGENHARIA DE MINAS                                  11
DEPARTAMENTO DE ENGENHARIA CIVIL                                     10
INSTITUTO DE FILOSOFIA, ARTES E CULTURA                               7
INSTITUTO DE CIÊNCIAS HUMANAS E SOCIAIS                               4
DEPARTAMENTO DE FARMÁCIA                                              4
DEPARTAMENTO DE COMPUTAÇÃO                                            4
DEPARTAMENTO DE QUÍMICA                                               4
DEPARTAMENTO DE TURISMO                                               3
DEPARTAMENTO DE BIODIVERSIDADE                                        3
DEPARTAMENTO DE  ENGENHARIA, ARQUITETURA E URBANISMO                  3
DEPARTAMENTO DE ENGENHARIA AMBIENTAL                                  2
DEPARTAMENTO DE HISTÓRIA                                              2
DEPARTAMENTO DE ENGENHARIA METALÚRGICA E DE MATERIAIS                 2
DEPARTAMENTO DE EDUCAÇÃO                                              2
INSTITUTO DE CIÊNCIAS SOCIAIS MARIANA - CAMPUS II                     2
DEPARTAMENTO DE CIÊNCIAS BIOLOGICAS                                   2
DEPARTAMENTO DE MATEMÁTICA                                            2
DEPARTAMENTO DE ENGENHARIA DE CONTROLE E AUTOMAÇÃO                    2
DEPARTAMENTO DE DIREITO                                               2
DEPARTAMENTO DE ENGENHARIA DE PRODUÇÃO, ADMINISTRAÇÃO E ECONOMIA      2
DEPARTAMENTO DE FILOSOFIA                                             1
DEPARTAMENTO DE MUSEOLOGIA                                            1
DEPARTAMENTO DE LETRAS                                                1
Name: Orgao_Solicitante, dtype: int64

In [55]:
dados2017acd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  424 non-null    object
 1   Nome_viajante      424 non-null    object
 2   Numero_PCDP        424 non-null    object
 3   Data_Solicitacao   424 non-null    datetime64[ns]
 4   Data_Inicio        424 non-null    datetime64[ns]
 5   Vr_Diaria          424 non-null    float64
 6   Vr_Passagem        424 non-null    float64
 7   Vr_Viagem          424 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 26.6+ KB

Dados 2017 acadêmicos - OK

Limpar dados2017adm

In [56]:
dados2017adm.head()

                         Orgao_Solicitante  ... Vr_Viagem
0  Assessoria de Comunicacao Institucional  ...    330.77
1  Assessoria de Comunicacao Institucional  ...   1474.82
2                        Centro Desportivo  ...     12.49
3                        Centro Desportivo  ...    522.25
4                       Gabinete do Reitor  ...    101.89

[5 rows x 8 columns]

In [57]:
dados2017adm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  966 non-null    object
 1   Nome_viajante      966 non-null    object
 2   Numero_PCDP        966 non-null    object
 3   Data_Solicitacao   966 non-null    datetime64[ns]
 4   Data_Inicio        966 non-null    datetime64[ns]
 5   Vr_Diaria          964 non-null    float64
 6   Vr_Passagem        964 non-null    float64
 7   Vr_Viagem          964 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 60.5+ KB

In [58]:
# Transforma Orgao Solicitante em upper()
for i in range(0,len(dados2017adm)):
  dados2017adm.Orgao_Solicitante[i]=dados2017adm.Orgao_Solicitante[i].upper()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
dados2017adm.Orgao_Solicitante.value_counts()

DIVISAO DE TRANSPORTES                                                                       532
GABINETE DO REITOR                                                                            46
COORDENADORIA DE GESTAO DE PESSOAS                                                            36
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM BIOLOGIA EVOLUTIVA E BIOMAS TROPICAIS     23
PRO-REITORIA DE GRADUACAO                                                                     23
PROGRAMA DE APOIO A POS-GRADUACAO EM GEOLOGIA                                                 22
PREFEITURA UNIVERSITARIA                                                                      20
PROGRAMA DE APOIO A POS-GRADUACAO EM FARMACIA                                                 20
PROGRAMA DE APOIO A POS-GRADUACAO EM ENGENHARIA CIVIL                                         19
PRO-REITORIA DE EXTENSAO                                                                      19
PROGRAMA DE APOIO A POS-GRADUACAO REDEMAT                                                     18
NUCLEO DE TECNOLOGIA DA INFORMACAO                                                            17
COORDENADORIA DE ASSUNTOS PATRIMONIAIS                                                        16
PRO-REITORIA DE PESQUISA A POS-GRADUACAO                                                      13
PROGRAMA DE APOIO A POS-GRADUACAO EM ENGENHARIA AMBIENTAL                                     12
PROGRAMA DE APOIO A POS-GRADUACAO EM FILOSOFIA                                                12
PRO-REITORIA DE ORCAMENTO E FINANCAS                                                          10
PROGRAMA DE APOIO A POS-GRADUACAO EM MINERACAO                                                10
SISTEMA DE BIBLIOTECAS                                                                         9
PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITARIOS E ESTUDANTIS                                    8
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM COMUNICACAO                                8
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM CIENCIAS DA COMPUTACAO                     7
PRO-REITORIA DE ADMINISTRACAO                                                                  6
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM ARTES CENICAS                              6
SECRETARIA DOS ORGAOS COLEGIADOS                                                               6
PRO-REITORIA DE PLANEJAMENTO E DESENVOLVIMENTO                                                 6
PROGRAMA DE APOIO A POS-GRADUACAO EM HISTORIA                                                  5
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM BIOTECNOLOGIA                              5
COORDENACAO DO PROGRAMA DE MESTRADO PROFISSIONAL EM EDUCACAO MATEMATICA                        4
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM QUIMICA                                    4
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM CIENCIAS - FISICA DOS MATERIAIS            4
PROCURADORIA JURIDICA                                                                          4
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM EDUCACAO                                   3
COORDENADORIA DE SUPRIMENTOS                                                                   2
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM LETRAS                                     2
COORDENACAO DO PROGRAMA DE APOIO A POS-GRADUACAO EM SAUDE E NUTRICAO                           2
COORDENACAO DO PROGRAMA DE MESTRADO PROFISSIONAL EM MATEMATICA EM REDE NACIONAL                2
CENTRO DESPORTIVO                                                                              2
ASSESSORIA DE COMUNICACAO INSTITUCIONAL                                                        2
PROGRAMA DE APOIO A POS-GRADUACAO EM GEOTECNIA                                                 1
Name: Orgao_Solicitante, dtype: int64

In [60]:
# Corrige textos
# encoding? Não
# Acentuação? sim
# DIVISAO, GESTAO, GRADUACAO,COORDENACAO, UNIVERSITARIA, FARMACIA, EXTENSAO, NUCLEO, INFORMACAO, ORCAMENTO, FINANCAS,
# MINERACAO, COMUNICACAO, COMUNITARIOS, CIENCIAS, COMPUTACAO, CENICAS, ADMINISTRACAO, ORGAOS, HISTORIA, QUIMICA,
# EDUCACAO, MATEMATICA, JURIDICA, FISICA, SAUDE, NUTRICAO
dados2017adm.Orgao_Solicitante.replace({'DIVISAO':'DIVISÃO', 'GESTAO':'GESTÃO', 'GRADUACAO':'GRADUAÇÃO', 'COORDENACAO':'COORDENAÇÃO', 
                                        'UNIVERSITARIA':'UNIVERSITÁRIA', 'FARMACIA':'FARMÁCIA', 'EXTENSAO':'EXTENSÃO', 'NUCLEO':'NÚCLEO', 
                                        'INFORMACAO':'INFORMAÇÃO', 'ORCAMENTO':'ORÇAMENTO', 'FINANCAS':'FINANÇAS', 'MINERACAO':'MINERAÇÃO', 
                                        'COMUNICACAO':'COMUNICAÇÃO', 'COMUNITARIOS':'COMUNITÁRIOS', 'CIENCIAS':'CIÊNCIAS', 'COMPUTACAO':'COMPUTAÇÃO', 
                                        'CENICAS':'CÊNICAS', 'ADMINISTRACAO':'ADMINISTRAÇÃO', 'ORGAOS':'ORGÃOS', 'HISTORIA':'HISTÓRIA', 
                                        'QUIMICA':'QUÍMICA', 'EDUCACAO':'EDUCAÇÃO', 'MATEMATICA':'MATEMÁTICA', 'JURIDICA':'JURÍDICA', 'FISICA':'FÍSICA', 
                                        'SAUDE':'SAÚDE', 'NUTRICAO':'NUTRIÇÃO'}, regex=True, inplace=True)

In [61]:
dados2017adm.Orgao_Solicitante.value_counts()

DIVISÃO DE TRANSPORTES                                                                       532
GABINETE DO REITOR                                                                            46
COORDENADORIA DE GESTÃO DE PESSOAS                                                            36
PRO-REITORIA DE GRADUAÇÃO                                                                     23
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM BIOLOGIA EVOLUTIVA E BIOMAS TROPICAIS     23
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM GEOLOGIA                                                 22
PREFEITURA UNIVERSITÁRIA                                                                      20
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM FARMÁCIA                                                 20
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM ENGENHARIA CIVIL                                         19
PRO-REITORIA DE EXTENSÃO                                                                      19
PROGRAMA DE APOIO A POS-GRADUAÇÃO REDEMAT                                                     18
NÚCLEO DE TECNOLOGIA DA INFORMAÇÃO                                                            17
COORDENADORIA DE ASSUNTOS PATRIMONIAIS                                                        16
PRO-REITORIA DE PESQUISA A POS-GRADUAÇÃO                                                      13
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM FILOSOFIA                                                12
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM ENGENHARIA AMBIENTAL                                     12
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM MINERAÇÃO                                                10
PRO-REITORIA DE ORÇAMENTO E FINANÇAS                                                          10
SISTEMA DE BIBLIOTECAS                                                                         9
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM COMUNICAÇÃO                                8
PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS E ESTUDANTIS                                    8
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM CIÊNCIAS DA COMPUTAÇÃO                     7
PRO-REITORIA DE PLANEJAMENTO E DESENVOLVIMENTO                                                 6
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM ARTES CÊNICAS                              6
SECRETARIA DOS ORGÃOS COLEGIADOS                                                               6
PRO-REITORIA DE ADMINISTRAÇÃO                                                                  6
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM BIOTECNOLOGIA                              5
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM HISTÓRIA                                                  5
COORDENAÇÃO DO PROGRAMA DE MESTRADO PROFISSIONAL EM EDUCAÇÃO MATEMÁTICA                        4
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM QUÍMICA                                    4
PROCURADORIA JURÍDICA                                                                          4
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM CIÊNCIAS - FÍSICA DOS MATERIAIS            4
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM EDUCAÇÃO                                   3
CENTRO DESPORTIVO                                                                              2
ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL                                                        2
COORDENADORIA DE SUPRIMENTOS                                                                   2
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM SAÚDE E NUTRIÇÃO                           2
COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇÃO EM LETRAS                                     2
COORDENAÇÃO DO PROGRAMA DE MESTRADO PROFISSIONAL EM MATEMÁTICA EM REDE NACIONAL                2
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM GEOTECNIA                                                 1
Name: Orgao_Solicitante, dtype: int64

dados2017adm - OK

dados2018

In [62]:
dados2018.head()

  Orgao_Solicitante                       Nome_viajante  ... Vr_Passagem Vr_Viagem
0          REITORIA          SERGIO FRANCISCO DE AQUINO  ...     5817.79  13630.55
1          REITORIA           ANDERSON ANTONIO GAMARANO  ...     3507.28  12749.85
2          REITORIA  CLAUDIA APARECIDA MARLIERE DE LIMA  ...     5536.08  12464.64
3          REITORIA  CLAUDIA APARECIDA MARLIERE DE LIMA  ...     4582.94   7588.82
4          REITORIA  CLAUDIA APARECIDA MARLIERE DE LIMA  ...        0.00   4487.67

[5 rows x 8 columns]

In [63]:
dados2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688 entries, 0 to 2687
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  2688 non-null   object
 1   Nome_viajante      2688 non-null   object
 2   Numero_PCDP        2688 non-null   object
 3   Data_Solicitacao   2688 non-null   datetime64[ns]
 4   Data_Inicio        2688 non-null   datetime64[ns]
 5   Vr_Diaria          2688 non-null   float64
 6   Vr_Passagem        2688 non-null   float64
 7   Vr_Viagem          2688 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 168.1+ KB

In [64]:
dados2018.Orgao_Solicitante.value_counts()

REITORIA                                                   1988
INSTITUTO DE CIÊNCIAS EXATAS E APLICADAS JOÃO MONLEVADE     151
CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA                     115
ESCOLA DE MINAS                                             111
ESCOLA DE NUTRIÇÃO                                           91
ESCOLA DE MEDICINA                                           71
INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS                    39
ESCOLA DE DIREITO, TURISMO E MUSEOLOGIA                      36
INSTITUTO DE CIÊNCIAS HUMANAS E SOCIAIS                      26
INSTITUTO DE CIÊNCIAS SOCIAIS MARIANA - CAMPUS II            24
INSTITUTO DE FILOSOFIA, ARTES E CULTURA                      21
ESCOLA DE FARMÁCIA                                           15
Name: Orgao_Solicitante, dtype: int64

dados2018 - OK

dados2019

In [65]:
dados2019.head()

    Orgao_Solicitante                    Nome_viajante  ... Vr_Passagem Vr_Viagem
0            REITORIA               NITIS MUKHOPADHYAY  ...    15088.39  15088.39
1     ESCOLA DE MINAS             HERNANI MOTA DE LIMA  ...     7390.03   8392.17
2            REITORIA         WILLIAM DE CASTRO BORGES  ...     4715.86   5963.81
3  ESCOLA DE NUTRIÇÃO  JULICRISTIE MACHADO DE OLIVEIRA  ...     3178.90   4684.92
4  ESCOLA DE FARMÁCIA  ROSARIO DOMINGUEZ CRESPO HIRATA  ...     2560.21   4336.71

[5 rows x 8 columns]

In [66]:
dados2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2366 entries, 0 to 2365
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  2366 non-null   object
 1   Nome_viajante      2366 non-null   object
 2   Numero_PCDP        2366 non-null   object
 3   Data_Solicitacao   2366 non-null   datetime64[ns]
 4   Data_Inicio        2366 non-null   datetime64[ns]
 5   Vr_Diaria          2366 non-null   float64
 6   Vr_Passagem        2366 non-null   float64
 7   Vr_Viagem          2366 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 148.0+ KB

In [67]:
dados2019.Orgao_Solicitante.value_counts()

REITORIA                                                   1887
ESCOLA DE NUTRIÇÃO                                          137
INSTITUTO DE CIÊNCIAS EXATAS E APLICADAS JOÃO MONLEVADE      92
ESCOLA DE MINAS                                              85
ESCOLA DE MEDICINA                                           55
CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA                      31
INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS                    28
ESCOLA DE DIREITO, TURISMO E MUSEOLOGIA                      18
INSTITUTO DE CIÊNCIAS HUMANAS E SOCIAIS                      12
ESCOLA DE FARMÁCIA                                           11
INSTITUTO DE FILOSOFIA, ARTES E CULTURA                       7
INSTITUTO DE CIÊNCIAS SOCIAIS MARIANA - CAMPUS II             3
Name: Orgao_Solicitante, dtype: int64

Concatena dados 2017, 2018, 2019

In [68]:
df=pd.concat([dados2017acd,dados2017adm,dados2018,dados2019], axis=0, ignore_index=True)
df

                              Orgao_Solicitante  ... Vr_Viagem
0       CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    283.11
1       CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    360.50
2       CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    389.37
3       CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    274.11
4       CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    394.98
...                                         ...  ...       ...
6439  INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS  ...      0.00
6440  INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS  ...      0.00
6441  INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS  ...      0.00
6442  INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS  ...      0.00
6443  INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS  ...      0.00

[6444 rows x 8 columns]

In [69]:
df.Orgao_Solicitante.value_counts()

REITORIA                                                   3875
DIVISÃO DE TRANSPORTES                                      532
INSTITUTO DE CIÊNCIAS EXATAS E APLICADAS JOÃO MONLEVADE     307
CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA                     276
ESCOLA DE NUTRIÇÃO                                          228
                                                           ...
DEPARTAMENTO DE CIÊNCIAS BIOLOGICAS                           2
DEPARTAMENTO DE MUSEOLOGIA                                    1
PROGRAMA DE APOIO A POS-GRADUAÇÃO EM GEOTECNIA                1
DEPARTAMENTO DE FILOSOFIA                                     1
DEPARTAMENTO DE LETRAS                                        1
Name: Orgao_Solicitante, Length: 76, dtype: int64

6 . Conferindo congruência entre contas: ver se as somas de diária + passagem conferem com valor total da viagem

In [70]:
for i in range(0,len(df)):
  df.Vr_Viagem[i] = df.Vr_Diaria[i] + df.Vr_Viagem[i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

7. Trata dados faltantes

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6444 entries, 0 to 6443
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  6444 non-null   object
 1   Nome_viajante      6444 non-null   object
 2   Numero_PCDP        6444 non-null   object
 3   Data_Solicitacao   6444 non-null   datetime64[ns]
 4   Data_Inicio        6444 non-null   datetime64[ns]
 5   Vr_Diaria          6442 non-null   float64
 6   Vr_Passagem        6442 non-null   float64
 7   Vr_Viagem          6442 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 402.9+ KB

Há 2 dados faltantes em cada Vr. Diária, Vr. Passagem e Vr. Viagem, logo, a hipótese aqui é que há pessoas registradas sem NENHUM dado da viagem. Averiguando:

In [72]:
falta_viagens=df[(df.Vr_Diaria.isnull()) | (df.Vr_Passagem.isnull()) | (df.Vr_Viagem.isnull())]

Hipótese confirmada, há 2 pessoas com registro porém se NENHUM dado dos custos de suas viagens. 

1. Extraír esses dados e enviar a PROPLAD para confirmação do órgão ou para uma possível auditoria
2. Analisar se vale a pena tratar os dados faltantes ou apenas excluí-los

In [73]:
# salva solicitantes em branco com gastos em branco
falta_viagens.to_excel('Falta_gastos.xlsx', sheet_name='Sheet_1', index=False)

In [74]:
(2/(len(df)-2))*100

0.03104625892579944

0,03% de Solicitantes com dados faltantes, quantidade insignificante, portanto exclui-se estes dados dos demais.

In [75]:
falta_viagens.index

Int64Index([1197, 1205], dtype='int64')

In [76]:
df.drop([1197,1205],axis=0,inplace=True)

In [77]:
df.reset_index(drop=True, inplace=True)

Dados preparados para criação de métricas

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6442 entries, 0 to 6441
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orgao_Solicitante  6442 non-null   object
 1   Nome_viajante      6442 non-null   object
 2   Numero_PCDP        6442 non-null   object
 3   Data_Solicitacao   6442 non-null   datetime64[ns]
 4   Data_Inicio        6442 non-null   datetime64[ns]
 5   Vr_Diaria          6442 non-null   float64
 6   Vr_Passagem        6442 non-null   float64
 7   Vr_Viagem          6442 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 402.8+ KB

Exporta dados para a próxima etapa: Análise exploratória dos dados ou insights em Power B.I.

In [79]:
df.to_excel('Custos_passagem_diárias.xlsx', sheet_name='sheet_1', index=False)

# Whole data has been cleaned up

In [80]:
df.head()

                         Orgao_Solicitante  ... Vr_Viagem
0  CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    566.22
1  CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    721.00
2  CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    778.74
3  CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    548.22
4  CENTRO DE EDUCAÇÃO ABERTA E A DISTÂNCIA  ...    789.96

[5 rows x 8 columns]