# Pre-processamento e transformação
A ideia principal é gerer um insight em relação aos custos das passagens e diárias solicitadas pelos funcionários da instituição, no entanto, precisa-se realizar algumas transformações nos dados, bem como uma análise prévia para que as informações sejam extraídas corretamente.

# Importando dados

In [1]:
import pandas as pd
import numpy as np

df_ad17 = pd.read_excel('C:/Users/Pedro Fernandes/Desktop/Github/Traveling-Costs-Issue/Datasets/dados2017_adm.xlsx')
df_ac17 = pd.read_excel('C:/Users/Pedro Fernandes/Desktop/Github/Traveling-Costs-Issue/Datasets/dados2017_acd.xlsx')
df_18 = pd.read_excel('C:/Users/Pedro Fernandes/Desktop/Github/Traveling-Costs-Issue/Datasets/dados2018.xlsx')
df_19 = pd.read_excel('C:/Users/Pedro Fernandes/Desktop/Github/Traveling-Costs-Issue/Datasets/dados2019.xlsx')

# Analisando dados

In [2]:
df_ad17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Orgao Solicitante              966 non-null    object
 1   Nome do Proposto               966 non-null    object
 2   Numero da PCDP                 966 non-null    object
 3   Data da Solicitacao da Viagem  966 non-null    datetime64[ns]
 4   Data Inicio da Viagem          966 non-null    datetime64[ns]
 5   Vr. Diaria                     964 non-null    float64
 6   Vr. Passagem                   964 non-null    float64
 7   Vr. Viagem                     964 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 60.5+ KB

In [3]:
df_ac17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Orgao Solicitante              424 non-null    object
 1   Nome do Proposto               424 non-null    object
 2   Numero da PCDP                 424 non-null    object
 3   Data de Solicitacao da Viagem  424 non-null    datetime64[ns]
 4   Data Inicio da Viagem          424 non-null    datetime64[ns]
 5   Vr. Diaria                     424 non-null    float64
 6   Vr. Passagem                   424 non-null    float64
 7   Vr. Viagem                     424 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 26.6+ KB

In [4]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688 entries, 0 to 2687
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unidade (Viagem)            2688 non-null   object
 1   Nome do Passageiro          2688 non-null   object
 2   Número da PCDP              2688 non-null   object
 3   Data Solicitação da Viagem  2688 non-null   datetime64[ns]
 4   Data Início da Viagem       2688 non-null   datetime64[ns]
 5   Valor das Diárias           2688 non-null   float64
 6   Valor da Passagem           2688 non-null   float64
 7   Valor da Viagem             2688 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 168.1+ KB

In [5]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2366 entries, 0 to 2365
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unidade (Viagem)            2366 non-null   object
 1   Nome do Passageiro          2366 non-null   object
 2   Número da PCDP              2366 non-null   object
 3   Data Solicitação da Viagem  2366 non-null   datetime64[ns]
 4   Data Início da Viagem       2366 non-null   datetime64[ns]
 5   Valor das Diárias           2366 non-null   float64
 6   Valor da Passagem           2366 non-null   float64
 7   Valor da Viagem             2366 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 148.0+ KB

Tipos de dados se encontram dentro do esperado, a princípio não havendo a necessidade de convertê-los. A primeira tabela se encontra 2 dados faltantes para "Valor Passagem", "Valor Diária" e "Valor Viagem". No entanto, neste caso, não apenas os valores faltantes acusados pela análise podem ser considerados valores faltantes, os dados de "Valor da Viagem" iguais a zero também devem ser considerados dados faltantes, pois se há registro na tabela é porque houve solicitação e se houve solicitação teóricamente houveram compras/reservas ou ambos. Portanto, estes dados devem ser tratados também mais adiante.

In [6]:
df_ad17.head()

,Orgao Solicitante,Nome do Proposto,Numero da PCDP,Data da Solicitacao da Viagem,Data Inicio da Viagem,Vr. Diaria,Vr. Passagem,Vr. Viagem
0,Assessoria de Comunicacao Institucional,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77
1,Assessoria de Comunicacao Institucional,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82
2,Centro Desportivo,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49
3,Centro Desportivo,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25
4,Gabinete do Reitor,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89

In [7]:
df_ac17.head()

,Orgao Solicitante,Nome do Proposto,Numero da PCDP,Data de Solicitacao da Viagem,Data Inicio da Viagem,Vr. Diaria,Vr. Passagem,Vr. Viagem
0,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000631/17,2017-03-24,2017-03-29,283.11,0.0,283.11
1,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000632/17,2017-03-24,2017-04-01,360.50,0.0,360.50
2,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000664/17,2017-03-29,2017-04-07,389.37,0.0,389.37
3,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000830/17,2017-04-20,2017-04-26,274.11,0.0,274.11
4,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000868/17,2017-05-03,2017-05-09,394.98,0.0,394.98

In [8]:
df_18.head()

,Unidade (Viagem),Nome do Passageiro,Número da PCDP,Data Solicitação da Viagem,Data Início da Viagem,Valor das Diárias,Valor da Passagem,Valor da Viagem
0,REITORIA,SERGIO FRANCISCO DE AQUINO,001415/18-1C,2018-07-10,2018-09-22,7709.84,5817.79,13630.55
1,REITORIA,ANDERSON ANTONIO GAMARANO,002135/18,2018-10-02,2018-11-10,9149.32,3507.28,12749.85
2,REITORIA,CLAUDIA APARECIDA MARLIERE DE LIMA,000977/18,2018-06-04,2018-06-10,6928.56,5536.08,12464.64
3,REITORIA,CLAUDIA APARECIDA MARLIERE DE LIMA,000335/18,2018-03-14,2018-05-19,3005.88,4582.94,7588.82
4,REITORIA,CLAUDIA APARECIDA MARLIERE DE LIMA,000195/18,2018-02-20,2018-02-21,4487.67,0.00,4487.67

In [9]:
df_19.head()

,Unidade (Viagem),Nome do Passageiro,Número da PCDP,Data Solicitação da Viagem,Data Início da Viagem,Valor das Diárias,Valor da Passagem,Valor da Viagem
0,REITORIA,NITIS MUKHOPADHYAY,000024/19,2019-01-21,2019-03-14,0.00,15088.39,15088.39
1,ESCOLA DE MINAS,HERNANI MOTA DE LIMA,000547/19-1C,2019-04-10,2019-04-22,860.18,7390.03,8392.17
2,REITORIA,WILLIAM DE CASTRO BORGES,001529/19,2019-08-30,2019-10-07,1247.95,4715.86,5963.81
3,ESCOLA DE NUTRIÇÃO,JULICRISTIE MACHADO DE OLIVEIRA,001848/19-1C,2019-10-02,2019-10-13,1506.02,3178.90,4684.92
4,ESCOLA DE FARMÁCIA,ROSARIO DOMINGUEZ CRESPO HIRATA,001922/19-1C,2019-10-10,2019-10-20,1776.50,2560.21,4336.71

Há diferenças entre as tabelas que podem atrapalhar na hora de concatená-las e gerar duplicidade de dados, como por exemplo as duas primeiras tabelas referentes a 2017 não obedecem acentuações gráficas e, inclusive, apresentam problemas de encoding. As demais tabelas já obedecem a acentuação e estão todos em "upper". Tais problemas podem acarretar em duplicidade de dados depois da concatenação.

Outro problema é a diferença dos títulos das colunas, devem ter o mesmo título para o Pandas conseguir concatená-los

# Tratando tabelas individualmente

As tabelas serão tratadas individualmente pois é muito mais fácil analisá-las mais a fundo assim, como por exemplo usando método "value_counts"

### Padronizando índices colunas

Administrativo de 2017

In [10]:
df_ad17.columns

Index(['Orgao Solicitante', 'Nome do Proposto', 'Numero da PCDP',
       'Data da Solicitacao da Viagem', 'Data Inicio da Viagem', 'Vr. Diaria',
       'Vr. Passagem', 'Vr. Viagem'],
      dtype='object')

In [11]:
df_ad17.columns = ['Orgao_Solicitante', 'Nome_Solicitante', 'Numero_PCDP',
       'Solicitacao_Viagem', 'Inicio_Viagem', 'Vr_Diaria',
       'Vr_Passagem', 'Vr_Viagem']

In [12]:
df_ad17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   966 non-null    object
 1   Nome_Solicitante    966 non-null    object
 2   Numero_PCDP         966 non-null    object
 3   Solicitacao_Viagem  966 non-null    datetime64[ns]
 4   Inicio_Viagem       966 non-null    datetime64[ns]
 5   Vr_Diaria           964 non-null    float64
 6   Vr_Passagem         964 non-null    float64
 7   Vr_Viagem           964 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 60.5+ KB

Acadêmico de 2017

In [13]:
df_ac17.columns

Index(['Orgao Solicitante', 'Nome do Proposto', 'Numero da PCDP',
       'Data de Solicitacao da Viagem', 'Data Inicio da Viagem', 'Vr. Diaria',
       'Vr. Passagem', 'Vr. Viagem'],
      dtype='object')

In [14]:
df_ac17.columns = ['Orgao_Solicitante', 'Nome_Solicitante', 'Numero_PCDP',
       'Solicitacao_Viagem', 'Inicio_Viagem', 'Vr_Diaria',
       'Vr_Passagem', 'Vr_Viagem']

In [15]:
df_ac17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   424 non-null    object
 1   Nome_Solicitante    424 non-null    object
 2   Numero_PCDP         424 non-null    object
 3   Solicitacao_Viagem  424 non-null    datetime64[ns]
 4   Inicio_Viagem       424 non-null    datetime64[ns]
 5   Vr_Diaria           424 non-null    float64
 6   Vr_Passagem         424 non-null    float64
 7   Vr_Viagem           424 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 26.6+ KB

Tabela de 2018

In [16]:
df_18.columns = ['Orgao_Solicitante', 'Nome_Solicitante', 'Numero_PCDP',
       'Solicitacao_Viagem', 'Inicio_Viagem', 'Vr_Diaria',
       'Vr_Passagem', 'Vr_Viagem']

In [17]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688 entries, 0 to 2687
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   2688 non-null   object
 1   Nome_Solicitante    2688 non-null   object
 2   Numero_PCDP         2688 non-null   object
 3   Solicitacao_Viagem  2688 non-null   datetime64[ns]
 4   Inicio_Viagem       2688 non-null   datetime64[ns]
 5   Vr_Diaria           2688 non-null   float64
 6   Vr_Passagem         2688 non-null   float64
 7   Vr_Viagem           2688 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 168.1+ KB

Tabela de 2019

In [18]:
df_19.columns

Index(['Unidade (Viagem)', 'Nome do Passageiro', 'Número da PCDP',
       'Data Solicitação da Viagem', 'Data Início da Viagem',
       'Valor das Diárias', 'Valor da Passagem', 'Valor da Viagem'],
      dtype='object')

In [19]:
df_19.columns = ['Orgao_Solicitante', 'Nome_Solicitante', 'Numero_PCDP',
       'Solicitacao_Viagem', 'Inicio_Viagem', 'Vr_Diaria',
       'Vr_Passagem', 'Vr_Viagem']

In [20]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2366 entries, 0 to 2365
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   2366 non-null   object
 1   Nome_Solicitante    2366 non-null   object
 2   Numero_PCDP         2366 non-null   object
 3   Solicitacao_Viagem  2366 non-null   datetime64[ns]
 4   Inicio_Viagem       2366 non-null   datetime64[ns]
 5   Vr_Diaria           2366 non-null   float64
 6   Vr_Passagem         2366 non-null   float64
 7   Vr_Viagem           2366 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 148.0+ KB

### Corrigindo Ortografia e padronizando dados de texto

Acadêmico de 2017

In [21]:
df_ac17.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
0,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000631/17,2017-03-24,2017-03-29,283.11,0.0,283.11
1,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000632/17,2017-03-24,2017-04-01,360.50,0.0,360.50
2,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000664/17,2017-03-29,2017-04-07,389.37,0.0,389.37
3,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000830/17,2017-04-20,2017-04-26,274.11,0.0,274.11
4,Centro de Educacao Aberta e a Dist?ncia,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000868/17,2017-05-03,2017-05-09,394.98,0.0,394.98

In [22]:
pos = 0
while pos < len(df_ac17):
    df_ac17.Orgao_Solicitante[pos] = df_ac17.Orgao_Solicitante[pos].replace('Dist?ncia','Distância')
    df_ac17.Orgao_Solicitante[pos] = df_ac17.Orgao_Solicitante[pos].replace('Metal?rgica','Metalúrgica')
    df_ac17.Orgao_Solicitante[pos] = df_ac17.Orgao_Solicitante[pos].replace('Departamento de Engenharia de Controle e Automacao e e Fundamentais',
                                                                            'Departamento de Engenharia de Controle e Automação')
    pos+=1

<ipython-input-22-778ef3e82535>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ac17.Orgao_Solicitante[pos] = df_ac17.Orgao_Solicitante[pos].replace('Dist?ncia','Distância')
<ipython-input-22-778ef3e82535>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ac17.Orgao_Solicitante[pos] = df_ac17.Orgao_Solicitante[pos].replace('Metal?rgica','Metalúrgica')
<ipython-input-22-778ef3e82535>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ac17.Orgao_Solicitante[pos] = df_ac17.Orgao_Solicitante[pos].replace('Departamento de Engenharia de Controle e Automacao e e Fundamentais',

In [23]:
df_ac17.Orgao_Solicitante.replace({'Educacao':'EDUCAÇÃO','Ciencias':'CIÊNCIAS','Joao':'JOÃO','Nutricao':'NUTRIÇÃO','Clinica':'CLÍNICA',
                      'Computacao':'COMPUTAÇÃO','Quimica':'QUÍMICA','Farm˜cia':'FARMÁCIA','Historia':'HISTÓRIA','Producao':'PRODUÇÃO',
                      'Administracao':'ADMINISTRAÇÃO','Matem˜tica':'MATEMÁTICA','Matematica':'MATEMÁTICA'}, regex=True, inplace=True)

In [24]:
df_ac17.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
0,Centro de EDUCAÇÃO Aberta e a Distância,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000631/17,2017-03-24,2017-03-29,283.11,0.0,283.11
1,Centro de EDUCAÇÃO Aberta e a Distância,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000632/17,2017-03-24,2017-04-01,360.50,0.0,360.50
2,Centro de EDUCAÇÃO Aberta e a Distância,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000664/17,2017-03-29,2017-04-07,389.37,0.0,389.37
3,Centro de EDUCAÇÃO Aberta e a Distância,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000830/17,2017-04-20,2017-04-26,274.11,0.0,274.11
4,Centro de EDUCAÇÃO Aberta e a Distância,ADRIANO SERGIO LOPES DA GAMA CERQUEIRA,000868/17,2017-05-03,2017-05-09,394.98,0.0,394.98

In [25]:
df_ac17.tail()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
419,"Instituto de Filosofia, Artes e Cultura",GLADYS AGMAR SA ROCHA,000298/17,2017-02-17,2017-03-28,67.68,0.00,67.68
420,"Instituto de Filosofia, Artes e Cultura",MARCUS VINICIUS MEDEIROS PEREIRA,000269/17,2017-02-15,2017-03-27,536.22,0.00,536.22
421,"Instituto de Filosofia, Artes e Cultura",MARIA MANUELA RAMOS DE SOUSA SILVA,000238/17,2017-02-13,2017-03-27,714.50,292.26,1006.76
422,"Instituto de Filosofia, Artes e Cultura",MARTA CARDOSO CASTELLO BRANCO GARZON,000270/17,2017-02-15,2017-03-27,536.22,0.00,536.22
423,"Instituto de Filosofia, Artes e Cultura",NANCI DE FREITAS,000379/17,2017-03-06,2017-03-26,1245.50,484.32,1729.82

Administrativo de 2017

In [26]:
df_ad17.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
0,Assessoria de Comunicacao Institucional,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77
1,Assessoria de Comunicacao Institucional,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82
2,Centro Desportivo,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49
3,Centro Desportivo,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25
4,Gabinete do Reitor,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89

In [27]:
df_ad17.Orgao_Solicitante.replace({'Divisao':'DIVISÃO', 'Gestao':'GESTÃO', 'Graduacao':'GRADUAÇÃO', 'Coordenacao':'COORDENAÇÃO', 
                                        'universitaria':'UNIVERSITÁRIA', 'Farmacia':'FARMÁCIA', 'Extensao':'EXTENSÃO', 'Nucleo':'NÚCLEO', 
                                        'informacao':'INFORMAÇÃO', 'Orcamento':'ORÇAMENTO', 'Financas':'FINANÇAS', 'Mineracao':'MINERAÇÃO', 
                                        'Comunicacao':'COMUNICAÇÃO', 'Comunitarios':'COMUNITÁRIOS', 'Ciencias':'CIÊNCIAS', 'Computacao':'COMPUTAÇÃO', 
                                        'Cenicas':'CÊNICAS', 'Administracao':'ADMINISTRAÇÃO', 'Orgaos':'ORGÃOS', 'Historia':'HISTÓRIA', 
                                        'Quimica':'QUÍMICA', 'Educacao':'EDUCAÇÃO', 'Matematica':'MATEMÁTICA', 'Juridica':'JURÍDICA', 'Fisica':'FÍSICA', 
                                        'Saude':'SAÚDE', 'Nutricao':'NUTRIÇÃO'}, regex=True, inplace=True)

In [28]:
df_ad17.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
0,Assessoria de COMUNICAÇÃO Institucional,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77
1,Assessoria de COMUNICAÇÃO Institucional,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82
2,Centro Desportivo,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49
3,Centro Desportivo,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25
4,Gabinete do Reitor,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89

### Concatenando tabelas

In [29]:
df = pd.concat([df_ad17,df_ac17,df_18,df_19], ignore_index = True,)

# Tratando tabela concatenada

### Analisando dados da tabela concatenada

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6444 entries, 0 to 6443
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6444 non-null   object
 1   Nome_Solicitante    6444 non-null   object
 2   Numero_PCDP         6444 non-null   object
 3   Solicitacao_Viagem  6444 non-null   datetime64[ns]
 4   Inicio_Viagem       6444 non-null   datetime64[ns]
 5   Vr_Diaria           6442 non-null   float64
 6   Vr_Passagem         6442 non-null   float64
 7   Vr_Viagem           6442 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 402.9+ KB

Talvez ainda haja duplicidade pela mistura entre maiúsculos e minúsculos. Vamos fazer a padronização e ver o que acontece.

### Padronizando dados de texto para Órgão e Solicitante

In [31]:
pos = 0
while pos < len(df):
    df.Orgao_Solicitante[pos] = df.Orgao_Solicitante[pos].upper()
    df.Nome_Solicitante[pos] = df.Nome_Solicitante[pos].upper()
    pos+=1

<ipython-input-31-52956970a47c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Orgao_Solicitante[pos] = df.Orgao_Solicitante[pos].upper()
<ipython-input-31-52956970a47c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Nome_Solicitante[pos] = df.Nome_Solicitante[pos].upper()

### Analisando duplicidade de dados de texto

In [32]:
df = df.drop_duplicates(subset='Numero_PCDP', keep='first')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6444 entries, 0 to 6443
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6444 non-null   object
 1   Nome_Solicitante    6444 non-null   object
 2   Numero_PCDP         6444 non-null   object
 3   Solicitacao_Viagem  6444 non-null   datetime64[ns]
 4   Inicio_Viagem       6444 non-null   datetime64[ns]
 5   Vr_Diaria           6442 non-null   float64
 6   Vr_Passagem         6442 non-null   float64
 7   Vr_Viagem           6442 non-null   float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 453.1+ KB

Não há nenhuma linha em duplicidade, se houvesse a função "drop_duplicates( )" haveria eliminado. O parâmetro utilizado para a análise foi "Numero_PCDP", pois é um código diferente para cada solicitação, logo ele indicaria a duplicidade.

### Analisando Valor total das viagens (Passagens + Diárias)

O Valor da Viagem (Vr_Viagem) é a soma dos valores das passagens e das diárias (Vr_Passagem + Vr_Diaria). Logo a ideia aqui é averiguar se esta operação está correta, analisando se a soma das colunas de Passagens e diárias batem com a da viagem.

In [34]:
df.Vr_Diaria.sum()

1387829.75

In [35]:
df.Vr_Passagem.sum()

870649.6299999999

In [36]:
df.Vr_Viagem.sum()

2270704.55

A soma dos valores das viagens são R$2.270.704,55, então teoricamente a soma das colunas "Vr_Passagem" e "Vr_Diaria" devem ser este valor.

In [37]:
df.Vr_Diaria.sum() + df.Vr_Passagem.sum()

2258479.38

In [38]:
2270704.55 - (1387829.75 + 870649.6299999999)

12225.169999999925

Valor da coluna do total das viagens não confere com a soma das passagens e das diárias com um erro de R$12.225,17 de diferença

Vamos retirar a coluna de Valor da Viagem para incluí-la depois por medida de segurança, para evitar somar os valores da própria coluna, uma vez que a função sum() soma todos os valores

In [39]:
df.drop('Vr_Viagem', axis = 1, inplace = True)

In [40]:
df['Vr_Viagem'] = df.sum(axis = 1)

In [41]:
df.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
0,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77
1,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82
2,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49
3,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25
4,GABINETE DO REITOR,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89

In [42]:
df.tail()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
6439,INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS,PUCA HUACHI VAZ PENNA,001519/19,2019-08-27,2019-09-03,0.0,0.0,0.0
6440,INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS,PUCA HUACHI VAZ PENNA,002018/19,2019-10-21,2019-10-21,0.0,0.0,0.0
6441,INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS,ROBERTA BARBOSA OLIVEIRA,001610/19,2019-09-05,2019-09-08,0.0,0.0,0.0
6442,INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS,ANDREA GOMES CAMPOS BIANCHI,001921/19,2019-10-10,2019-10-31,0.0,0.0,0.0
6443,INSTITUTO DE CIÊNCIAS EXATAS E BIOLÓGICAS,REINALDO SILVA FORTES,001893/19,2019-10-08,2019-10-09,0.0,0.0,0.0

In [43]:
df.Vr_Viagem.sum()

2258479.38

In [44]:
(df.Vr_Diaria.sum()) + (df.Vr_Passagem.sum())

2258479.38

Agora, a soma das colunas das passagens com as diárias estão de acordo com a coluna do valor total da viagem, cujo valor correto do cuso de todas as viagens é R$2.258.479,38

### Tratando dados faltantes

In [45]:
df.isnull().sum()

Orgao_Solicitante     0
Nome_Solicitante      0
Numero_PCDP           0
Solicitacao_Viagem    0
Inicio_Viagem         0
Vr_Diaria             2
Vr_Passagem           2
Vr_Viagem             0
dtype: int64

Filtrando linhas de dados faltantes

In [46]:
dfNull = df[(df.Vr_Diaria.isnull()) | (df.Vr_Passagem.isnull()) | (df.Vr_Viagem.isnull())]
dfNull.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
773,COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇ...,GLAYDSTON MATTOS RIBEIRO,000003/17-1C,2016-12-21,2017-01-26,NaN,NaN,0.0
781,COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇ...,REGES TONI SCHWAAB,000002/17,2016-12-16,2017-01-31,NaN,NaN,0.0

Filtrando linhas de dados com "ZERO": neste caso colunas dos custos de passagens e diárias com "zero" bem como o resultado de sua soma também serão tratados como dados faltantes, pois se há nome de solicitante e órgão bem como código de solicitação (Numero_PCDP) então teoricamente deveria haver algum registro de compra de passagem ou reservas de diárias. Por este motivo os dados serão separados em uma tabela a parte para a consulta junto ao órgão responsável e talvez uma possível auditoria interna, pois provavelmente é algum erro na coleta de dados na própria instituição.

In [47]:
dfZeros = df[(df.Vr_Diaria == 0) & (df.Vr_Passagem == 0)]
dfZeros.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
102,COORDENADORIA DE GESTÃO DE PESSOAS,ABELARD RAMOS FERNANDES,000820/17,2017-04-19,2017-04-19,0.0,0.0,0.0
960,PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS...,JUDITH GOMES DE OLIVEIRA,000160/17,2017-02-06,2017-02-08,0.0,0.0,0.0
961,PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS...,JUDITH GOMES DE OLIVEIRA,000962/17,2017-05-09,2017-05-10,0.0,0.0,0.0
962,PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS...,JUDITH GOMES DE OLIVEIRA,001213/17,2017-06-06,2017-06-08,0.0,0.0,0.0
963,PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS...,JUDITH GOMES DE OLIVEIRA,001408/17,2017-06-28,2017-07-04,0.0,0.0,0.0

Concatenando tabelas de valores "zero" e valores Nulos

In [48]:
Miss = pd.concat([dfNull, dfZeros], axis = 0)
Miss.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem
773,COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇ...,GLAYDSTON MATTOS RIBEIRO,000003/17-1C,2016-12-21,2017-01-26,NaN,NaN,0.0
781,COORDENAÇÃO DO PROGRAMA DE APOIO A POS-GRADUAÇ...,REGES TONI SCHWAAB,000002/17,2016-12-16,2017-01-31,NaN,NaN,0.0
102,COORDENADORIA DE GESTÃO DE PESSOAS,ABELARD RAMOS FERNANDES,000820/17,2017-04-19,2017-04-19,0.0,0.0,0.0
960,PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS...,JUDITH GOMES DE OLIVEIRA,000160/17,2017-02-06,2017-02-08,0.0,0.0,0.0
961,PRO-REITORIA ESPECIAL DE ASSUNTOS COMUNITÁRIOS...,JUDITH GOMES DE OLIVEIRA,000962/17,2017-05-09,2017-05-10,0.0,0.0,0.0

Exportando para uma planilha em excel para reserva e envio ao órgão responsável (PROPLAD)

In [49]:
Miss.to_excel('Missing_Values.xlsx', sheet_name = 'Aba_1', index = False)

Analisando a relevância dos dados faltantes para o projeto

In [50]:
(len(Miss)/len(df))*100

0.9621353196772191

0,96% dos dados são faltantes, um número muito baixo de observações. Além disso, tendo em vista que serão feitos apenas insights e nada muito complexo como modelos de Machine Learning, pode-se excluí-los por completo.

In [51]:
Miss.index

Int64Index([ 773,  781,  102,  960,  961,  962,  963, 1067, 1218, 1219, 1222,
            1223, 1228, 1229, 1305, 4011, 4012, 4013, 4014, 4015, 4016, 4049,
            4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067,
            4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 6425,
            6426, 6427, 6428, 6429, 6430, 6431, 6432, 6433, 6434, 6435, 6436,
            6437, 6438, 6439, 6440, 6441, 6442, 6443],
           dtype='int64')

Eliminando linhas com os valores faltantes

In [52]:
df.drop([ 773,  781,  102,  960,  961,  962,  963, 1067, 1218, 1219, 1222,
            1223, 1228, 1229, 1305, 4011, 4012, 4013, 4014, 4015, 4016, 4049,
            4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067,
            4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 6425,
            6426, 6427, 6428, 6429, 6430, 6431, 6432, 6433, 6434, 6435, 6436,
            6437, 6438, 6439, 6440, 6441, 6442, 6443], axis = 0, inplace = True)

In [53]:
df.reset_index(drop = True, inplace = True)

### Criar coluna "Ano"

In [54]:
df['Ano'] = df.Solicitacao_Viagem.dt.year
df.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem,Ano
0,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77,2017
1,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82,2017
2,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49,2017
3,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25,2017
4,GABINETE DO REITOR,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89,2017

In [55]:
df.tail()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem,Ano
6377,"ESCOLA DE DIREITO, TURISMO E MUSEOLOGIA",MARCELO VIANA RAMOS,002336/19,2019-11-12,2019-11-14,32.13,0.0,32.13,2019
6378,REITORIA,ABELARD RAMOS FERNANDES,002021/19,2019-10-21,2019-10-23,22.07,0.0,22.07,2019
6379,INSTITUTO DE CIÊNCIAS HUMANAS E SOCIAIS,MARCELO LOURES DOS SANTOS,002011/19,2019-10-21,2019-10-25,21.91,0.0,21.91,2019
6380,REITORIA,NISIELLY TICIANY SILVA,002146/19,2019-10-31,2019-11-04,18.27,0.0,18.27,2019
6381,INSTITUTO DE CIÊNCIAS SOCIAIS MARIANA - CAMPUS II,KATHIUCA BERTOLLO,000988/19,2019-06-06,2019-06-13,2.26,0.0,2.26,2019

Coluna criada com tipo "int", converter para tipo "object"

In [56]:
df.Ano = df.Ano.astype(str)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6382 entries, 0 to 6381
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6382 non-null   object
 1   Nome_Solicitante    6382 non-null   object
 2   Numero_PCDP         6382 non-null   object
 3   Solicitacao_Viagem  6382 non-null   datetime64[ns]
 4   Inicio_Viagem       6382 non-null   datetime64[ns]
 5   Vr_Diaria           6382 non-null   float64
 6   Vr_Passagem         6382 non-null   float64
 7   Vr_Viagem           6382 non-null   float64
 8   Ano                 6382 non-null   object
dtypes: datetime64[ns](2), float64(3), object(4)
memory usage: 448.9+ KB

### Criar coluna para a diferença de tempo entre solicitação e a viagem

In [58]:
df['Demora'] = abs((df.Inicio_Viagem) - (df.Solicitacao_Viagem))  
df.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem,Ano,Demora
0,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77,2017,5 days
1,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82,2017,7 days
2,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49,2017,10 days
3,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25,2017,42 days
4,GABINETE DO REITOR,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89,2017,2 days

Tal coluna será utilizada para uma futura análise de correlação, para identificar uma possível relação da antecedência das reservas das diárias e das passagens com o

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6382 entries, 0 to 6381
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6382 non-null   object
 1   Nome_Solicitante    6382 non-null   object
 2   Numero_PCDP         6382 non-null   object
 3   Solicitacao_Viagem  6382 non-null   datetime64[ns]
 4   Inicio_Viagem       6382 non-null   datetime64[ns]
 5   Vr_Diaria           6382 non-null   float64
 6   Vr_Passagem         6382 non-null   float64
 7   Vr_Viagem           6382 non-null   float64
 8   Ano                 6382 non-null   object
 9   Demora              6382 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(3), object(4), timedelta64[ns](1)
memory usage: 498.7+ KB

Converter coluna de "Timedelta" para "int"

In [60]:
df['Demora'] = df.Demora.dt.days.astype(int)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6382 entries, 0 to 6381
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6382 non-null   object
 1   Nome_Solicitante    6382 non-null   object
 2   Numero_PCDP         6382 non-null   object
 3   Solicitacao_Viagem  6382 non-null   datetime64[ns]
 4   Inicio_Viagem       6382 non-null   datetime64[ns]
 5   Vr_Diaria           6382 non-null   float64
 6   Vr_Passagem         6382 non-null   float64
 7   Vr_Viagem           6382 non-null   float64
 8   Ano                 6382 non-null   object
 9   Demora              6382 non-null   int32
dtypes: datetime64[ns](2), float64(3), int32(1), object(4)
memory usage: 473.8+ KB

### Criar coluna para classificação se é alta ou baixa temporada

Assim como o tempo de Demora entre a solicitação e a viagem, esta coluna também será usada em uma anpalise de correlação para saber seu impacto nos preços finais das diárias e, principalmente, das passagens

In [62]:
df['Temporada'] = np.NAN
pos = 0
while pos < len(df.Solicitacao_Viagem):
    if df.Solicitacao_Viagem[pos].month in [1,2,7,12]:
        df.Temporada[pos] = 'Alta'
    else: 
        df.Temporada[pos] = 'Baixa'
    pos+=1

<ipython-input-62-3f1fed25c45e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Temporada[pos] = 'Alta'
C:\Anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-62-3f1fed25c45e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Temporada[pos] = 'Baixa'

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6382 entries, 0 to 6381
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6382 non-null   object
 1   Nome_Solicitante    6382 non-null   object
 2   Numero_PCDP         6382 non-null   object
 3   Solicitacao_Viagem  6382 non-null   datetime64[ns]
 4   Inicio_Viagem       6382 non-null   datetime64[ns]
 5   Vr_Diaria           6382 non-null   float64
 6   Vr_Passagem         6382 non-null   float64
 7   Vr_Viagem           6382 non-null   float64
 8   Ano                 6382 non-null   object
 9   Demora              6382 non-null   int32
 10  Temporada           6382 non-null   object
dtypes: datetime64[ns](2), float64(3), int32(1), object(5)
memory usage: 523.6+ KB

In [64]:
df.head()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem,Ano,Demora,Temporada
0,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,ADRIANO MEDEIROS DA ROCHA,000223/17,2017-02-10,2017-02-15,330.77,0.00,330.77,2017,5,Alta
1,ASSESSORIA DE COMUNICAÇÃO INSTITUCIONAL,FRANCISCO JOSE DAHER JUNIOR,001051/17,2017-05-17,2017-05-24,186.28,1288.54,1474.82,2017,7,Baixa
2,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,000480/17,2017-03-10,2017-03-20,12.49,0.00,12.49,2017,10,Baixa
3,CENTRO DESPORTIVO,HEBER EUSTAQUIO DE PAULA,001040/17,2017-05-17,2017-06-28,125.93,396.32,522.25,2017,42,Baixa
4,GABINETE DO REITOR,ALESSANDRA RODRIGUES KOZOVITS,001265/17,2017-06-12,2017-06-14,101.89,0.00,101.89,2017,2,Baixa

In [65]:
df.tail()

,Orgao_Solicitante,Nome_Solicitante,Numero_PCDP,Solicitacao_Viagem,Inicio_Viagem,Vr_Diaria,Vr_Passagem,Vr_Viagem,Ano,Demora,Temporada
6377,"ESCOLA DE DIREITO, TURISMO E MUSEOLOGIA",MARCELO VIANA RAMOS,002336/19,2019-11-12,2019-11-14,32.13,0.0,32.13,2019,2,Baixa
6378,REITORIA,ABELARD RAMOS FERNANDES,002021/19,2019-10-21,2019-10-23,22.07,0.0,22.07,2019,2,Baixa
6379,INSTITUTO DE CIÊNCIAS HUMANAS E SOCIAIS,MARCELO LOURES DOS SANTOS,002011/19,2019-10-21,2019-10-25,21.91,0.0,21.91,2019,4,Baixa
6380,REITORIA,NISIELLY TICIANY SILVA,002146/19,2019-10-31,2019-11-04,18.27,0.0,18.27,2019,4,Baixa
6381,INSTITUTO DE CIÊNCIAS SOCIAIS MARIANA - CAMPUS II,KATHIUCA BERTOLLO,000988/19,2019-06-06,2019-06-13,2.26,0.0,2.26,2019,7,Baixa

# Dataset transformado e pronto para análise exploratória
Agora os dados serão exportados para um dataset e será trabalhado em outro documento .ipynb

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6382 entries, 0 to 6381
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orgao_Solicitante   6382 non-null   object
 1   Nome_Solicitante    6382 non-null   object
 2   Numero_PCDP         6382 non-null   object
 3   Solicitacao_Viagem  6382 non-null   datetime64[ns]
 4   Inicio_Viagem       6382 non-null   datetime64[ns]
 5   Vr_Diaria           6382 non-null   float64
 6   Vr_Passagem         6382 non-null   float64
 7   Vr_Viagem           6382 non-null   float64
 8   Ano                 6382 non-null   object
 9   Demora              6382 non-null   int32
 10  Temporada           6382 non-null   object
dtypes: datetime64[ns](2), float64(3), int32(1), object(5)
memory usage: 523.6+ KB

In [68]:
df.to_excel('Passagens_Diárias_transf.xlsx', sheet_name = 'aba_1', index = False)